{{! show old blogposts with title and date created as a button. link button click to 
editdeletepost.handlebars }}
{{! ((newpost.handlebars)) }}

{{#each blogposts as |post|}}
  <div id="newPostPartial" class="row mb-4 project">
    <div id="newPostHeading" class="col-md-5">
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href="/blogpost/{{post.id}}">{{post.title}}</a>
      </h2>
      <p>Created by {{post.username}} on {{format_date post.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{post.comment}}
      </p>
    </div>
  </div>
{{/each}}

<div class="form-group">
  <a href="/dashboard/new"><button
      type="submit"
      id="newPostHeading"
      class="btn btn-primary"
    >+ New Post</button></a>
</div>

{{! link button click to newpost.handlebars }}